
.Chat {
    background: var(--color-prim);
}

.Chat .scrollArea {
    height: 100%;
    padding: 12px;
    overflow-y: scroll;
    /* enough height for even little text to stick to the bottom */
    padding-top: 100vh;
    /* hide scrollbar */
    margin-right: -25px;
    overflow-x: hidden;
}

.Chat button.scrollToBottomBar {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: var(--color-text);
    border: none;
    font-weight: bold;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4pt;
}
