
.ChatMessage {
    padding: 0.2em 0;
    vertical-align: middle;
    display: grid;
    grid-template-columns: 2.5em minmax(0, auto);
}

.time {
    grid-column: 1 / 2;
    color: #777;
    font-size: 0.8em;
    align-self: start;
    padding-top: 0.15em;
}

.message, .system-message {
    grid-column: 2 / 3;
}

.system-message {
    color: #ff8c00;
}

.me-message .Username {
    font-weight: unset;
    color: unset !important;
}
