
.Users {
    padding: 20px;
}

.Users td {
    vertical-align: top;
}

.Users .username {
    white-space: nowrap;
}

.Users .rank {
    white-space: nowrap;
    color: white;
    padding-left: 0.3em;
}

.Users .status {
    color: #aa4;
    font-size: 0.8em;
    padding-left: 0.5em;
}
