
.App {
    height: 100vh;
    display: grid;
    grid-template-areas: "chat  users"
                         "chat  parties"
                         "chat  rooms"
                         "input rooms";
    grid-template-columns: auto 350px;
    grid-template-rows: repeat(3, 1fr) 80px;
}

.Chat {
    grid-area: chat;
    overflow: hidden;
}

.ChatInput {
    grid-area: input;
}

.Users {
    grid-area: users;
}

.Parties {
    grid-area: parties;
    background-color: rgba(0, 0, 0, 0.3);
}

.Rooms {
    grid-area: rooms;
}
