
.App {
    height: 100vh;
    display: grid;
    grid-template-areas: "rooms chat users"
                         "rooms chat parties"
                         "rooms chat parties"
                         "input input parties";
    grid-template-columns: min-content minmax(300px, auto) 350px;
    grid-template-rows: repeat(3, 1fr) 80px;
}

.Chat {
    grid-area: chat;
    overflow: hidden;
}

.ChatInput {
    grid-area: input;
}

.Users {
    grid-area: users;
}

.Parties {
    grid-area: parties;
}

.Rooms {
    grid-area: rooms;
}
