
.App {
    height: 100vh;
    display: grid;
    grid-template-areas: "rooms        chat  users"
                         "rooms        chat  parties"
                         "rooms        chat  parties"
                         "roomsettings input parties"
                         "space        space space";
    grid-template-columns: min-content minmax(300px, auto) 350px;
    grid-template-rows: repeat(3, 1fr) minmax(0, auto) 2pt;
}

.Chat {
    grid-area: chat;
    overflow: hidden;
}

.ChatInput {
    grid-area: input;
}

.Users {
    grid-area: users;
}

.Parties {
    grid-area: parties;
}

.Rooms {
    grid-area: rooms;
}
