
* {
    /* makes padding be included in height and width, which is easier to work with */
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #223;
    color: white;
    font-size: 12pt;
    font-family: "Calibri Light", Calibri, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
}

html, body, #root {
    /* webkit workaround: relative height only works if it propagates all the way to the document-root */
    height: 100%;
}
